<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>QuizWhiz</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
      integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="room.css" />
    <script>
      const roomName = "<%= roomName %>";
    </script>
    <!-- <script defer src="http://localhost:3000/socket.io/socket.io.js"></script> -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>

    <script defer src="script.js"></script>

    <style>
      body {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
      }

      #message-container {
        width: 80%;
        max-width: 1200px;
      }

      #message-container div {
        background-color: #ccc;
        padding: 5px;
      }

      #message-container div:nth-child(2n) {
        background-color: #fff;
      }

      #send-container {
        position: fixed;
        padding-bottom: 30px;
        bottom: 0;
        background-color: white;
        max-width: 1200px;
        width: 80%;
        display: flex;
      }

      #message-input {
        flex-grow: 1;
      }
    </style>
  </head>
  <body>
    <div id="message-containers"></div>
    <div class="container">
      <div id="game" class="justify-center flex-column">
        <div id="hud">
          <div id="hud-item">
            <p class="hud-prefix">Question</p>
            <h3 class="hud-main-text" id="questionCounter"></h3>
          </div>
          <div id="hud-item">
            <p class="hud-prefix">Score</p>
            <h3 class="hud-main-text" id="score">0</h3>
          </div>
        </div>
        <h2 id="question">Get Ready for questions</h2>
        <div class="choice-container">
          <p class="choice-prefix"></p>
          <p class="choice-text" data-number="1"></p>
        </div>
        <div class="choice-container">
          <p class="choice-prefix"></p>
          <p class="choice-text" data-number="2"></p>
        </div>
        <div class="choice-container">
          <p class="choice-prefix"></p>
          <p class="choice-text" data-number="3"></p>
        </div>
        <div class="choice-container">
          <p class="choice-prefix"></p>
          <p class="choice-text" data-number="4"></p>
        </div>
      </div>
    </div>

    <div id="send-container">
      <!-- <input type="text" id="message-input" />
      <button type="submit" id="send-button">Send</button> -->
    </div>
  </body>
</html>
